.person {
    width: 80%;
    height: 80%;
    margin-bottom: 25px;
    opacity: .7;
    border: 10px solid transparent;
}

.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    /* make all photos black and white */
    width: 100%;
    /* Set width to 100% */
    margin: auto;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.bg-1 {
    color: #bdbdbd;
    background: #2d2d30;
}

.bg-1 h3 {
    color: #fff;
}

.bg-1 p {
    font-style: italic;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.modal-header, h4, .close {
    font-size: 30px;
    text-align: center;
    color: #fff !important;
    background-color: #333;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

#leafletMap{
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(1%);
}

.navbar {
    font-family: Montserrat, sans-serif;
    font-size: 11px !important;
    margin-bottom: 0;
    letter-spacing: 4px;
    opacity: .9;
    border: 0;
    background-color: #2d2d30;
}

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: rgb(104, 181, 219) !important;
}

footer {
    padding: 32px;
    color: #f5f5f5;
    background-color: #2d2d30;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    text-decoration: none;
    color: #777;
}

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

/* Esto es para el Navigation*/
body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
